.border-pulse {
  border: 2px solid rgba(255, 217, 0, 1);
  border-radius: 12px;
  animation: borderFade 2s ease-in-out infinite;
}

.card-height {
  min-height: 160px;
}

@keyframes borderFade {
  0% {
    border-color: rgba(255, 217, 0, 0); /* invisível */
  }
  50% {
    border-color: rgba(255, 217, 0, 1); /* aparece suavemente */
  }
  100% {
    border-color: rgba(255, 217, 0, 0); /* some novamente */
  }
}

@keyframes elementPulse {
  0% {
    opacity: 0; /* Invisível */
  }
  50% {
    opacity: 1; /* Aparece totalmente */
  }
  100% {
    opacity: 0; /* Some novamente */
  }
}

.component-notice {
  animation: elementPulse 2s ease-in-out infinite;
}

@media (max-width: 767.98px) {
  .card-height {
    min-height: unset;
  }
}

@media (min-width: 768px) {
  .card-height {
    min-height: 260px;
  }
}

@media (min-width: 992px) {
  .card-height {
    min-height: 260px;
  }
}

@media (min-width: 1200px) {
  .card-height {
    min-height: 260px;
  }
}

@media (min-width: 1400px) {
  .card-height {
    min-height: 220px;
  }
}
