.border-pulse {
  border: 2px solid rgba(255, 217, 0, 1);
  border-radius: 12px;
  animation: borderFade 2s ease-in-out infinite;
}

@keyframes borderFade {
  0% {
    border-color: rgba(255, 217, 0, 0); /* invisível */
  }
  50% {
    border-color: rgba(255, 217, 0, 1); /* aparece suavemente */
  }
  100% {
    border-color: rgba(255, 217, 0, 0); /* some novamente */
  }
}
